body {
    background: black;
    color: white;
}

.spot {
    border: 1px solid black;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 8px;
}

.board {
    width: 100%;
    margin: 0 auto;
}

.player0 {
    background: white;
}

.player1 {
    background: red;
}

.player2 {
    background: blue;
}

.player3 {
    background: green;
}

.drop {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: black;
}

.player1.column:hover > .drop {
    background: red;
}

.player2.column:hover > .drop {
    background: blue;
}

.column {
    background: black;
    padding: 4px;
}