body {
    background: black;
    color: white;
}

.centered {
    text-align: center;
}

.start-form {
    width: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.board_12 {
    width: 588px;
}

.board_11 {
    width: 539px;
}

.board_10 {
    width: 490px;
}

.board_9 {
    width: 441px;
}

.board_8 {
    width: 392px;
}

.board_7 {
    width: 343px;
}

.board_6 {
    width: 294px;
}

.board_5 {
    width: 245px;
}

.board_4 {
    width: 196px;
}

.board {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.winner {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.winner_header {
    font-size: 120px;
}

@media only screen and (max-width:480px) {
    .winner_header {
        font-size: 80px;
    }
}

.winner_message {
    font-size: 24px;
}

.winner > button {
    font-size: 18px;
    font-style: italic;
    font-family: cursive;
}

.winner.player1 {
    background:rgba(36, 216, 165, 0.75);
}

.winner.player2 {
    background:rgba(239, 7, 0, 0.75);
}

.winner.player3 {
    background:rgba(252, 179, 22, 0.75);
}

.winner.player4 {
    background:rgba(255, 96, 149, 0.75);
}

.winner.player5 {
    background:rgba(101, 0, 224, 0.75);
}

.drop {
    height: 45px;
    width: 45px;
    margin: 0 auto;
    border-radius: 50%;
    background: black;
}

.player0 {
    background: white;
}

.player1, .player1.column:hover > .drop, .player1.column:focus > .drop {
    background: #00ffb6;
}

.player2, .player2.column:hover > .drop, .player2.column:focus > .drop {
    background: #ff0700;
}

.player3, .player3.column:hover > .drop, .player3.column:focus > .drop  {
    background: #FCB316;
}

.player4, .player4.column:hover > .drop, .player4.column:focus > .drop  {
    background: #ff6095;
}

.player5, .player5.column:hover > .drop, .player5.column:focus > .drop  {
    background: #6500e0;
}

.btn-round {
    display: inline-block;
    margin: 4px;
    height: 30px;
    width: 30px;
}
/*
.btn-round:hover {
    border: 1px solid #00b8ff;
}
*/
.add-remove-player {
    background: rgba(128, 128, 128, .46);
}

.add-remove-player:disabled {
    border: 1px solid white;
    background: black;
}

.board-kind {
    width: 60px;
    height: 60px;
    margin: 4px;
    background: black;
    border: 1px solid white;
}

.win-kind {
    border: 1px solid white;
}

.board-kind:disabled, .win-kind:disabled {
    border: 1px solid #00b8ff;
}

@keyframes pulse { 
    0% { transform: scale(.87); } 
    50% { transform: scale(.9); } 
    100% { transform: scale(.87); } 
} 

.column:hover > .drop {
    animation-name: pulse;
    animation-duration: 3s; 
    animation-fill-mode: both; 
    animation-iteration-count: infinite; 
}

.column {
    background: black;
    width: 49px;
    padding: 2px;
}

.spot {
    border: 1px solid black;
    height: 45px;
    width: 45px;
    margin-bottom: 4px;
}

.start-form-section {
    margin-bottom: 15px;
}

.choose-player {
    border: 1px solid black;
}

.italic {
    font-style: italic;
}